.about-me {
	@include adaptiv-value("padding-top", 250, 110, 1);
	@include adaptiv-value("padding-bottom", 100, 40, 1);
	display: flex;
	justify-content: center;
	overflow: hidden;
	&__content {
		@include adaptiv-value("padding-left", 110, 10, 1);
		@include adaptiv-value("padding-right", 110, 10, 1);
		max-width: 1446px;
		overflow: auto;
		
	}
	&__title {
		@include adaptiv-value("font-size", 34, 28, 1);
		font-weight: 700;
		letter-spacing: -0.68px;
	}
	&__text {
		@include adaptiv-value("font-size", 20, 18, 1);
		@include adaptiv-value("line-height", 36, 24, 1);
		font-weight: 300;
		letter-spacing: 0.4px;
		color: #3D3D3D;
		@include adaptiv-value("margin-top", 78, 30, 1);
		p {
			margin-bottom: 30px;
			@include adaptiv-value("margin-bottom", 30, 10, 1);
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}