.popup {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($gray, 0.85);
	transition: all 0.3s ease 0s;
	visibility: hidden;
	opacity: 0;
	.popup__column_time:after, .popup__column_time:before {
		display: none;
	}
	&._active {
		visibility: visible;
		opacity: 1;
		.popup__column_time:after, .popup__column_time:before {
			display: inline-block;
		}
	}
	&__wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__form {
		padding: 25px;
		max-width: 510px;
		background-color: #fff;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		position: relative;
		@media (max-width: 600px){
			flex-direction: column;
			height: auto;
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		position: relative;
	}
	&__column_time {
		&::before, &::after {
			position: absolute;
			border: 1px solid #000;
			visibility: hidden;
			opacity: 0;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
		&::before {
			content: "Working hours 9:00-18:00";
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 90%);
			width: 95%;
			font-size: 16px;
			padding: 3px;
		}
		&::after {
			content: "";
			bottom: -5px;
			left: 10%;
			width: 15px;
			height: 15px;
			border-width: 1px 0 0 1px;
			transform: rotate(45deg);
		}
		&._invalid {
			&::before, &::after {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	&__label {
		color: #A2A2A2;
		letter-spacing: -0.4px;
		font-size: 20px;
		margin-bottom: 8px;
		display: inline-block;
	}
	&__input {
		display: inline-block;
		width: 220px;
		height: 54px;
		border: 2px solid #FDD000;
		box-shadow: 0px 0px 25px #0000000D;
		padding: 14px 20px;
		font-size: 22px;
		font-weight: 500;
		color: #000;
		cursor: text;
		&:focus {
			outline: none;
		}
		&:disabled {
			background-color: #fff;
			cursor: auto;
		}
	}
	&__btn {
		width: 220px;
		height: 54px;
		font-size: 22px;
		font-weight: 500;
		display: none;
		transition: all 0.3s ease 0s;
		@media (max-width: 600px){
			margin-top: 25px;
		}
		&._active {
			display: inline-block;
		}
	}
	&__add-meeting {
		background: $yellow;
		@media (any-hover: hover) {
			&:hover{
				background: #e0b800;
			}
		}
	}
	&__cancel-meeting {
		background: #fa6966;
		@media (any-hover: hover) {
			&:hover{
				background: #d65654;
			}
		}
	}
	&__close{
		width: 28px;
		height: 28px;
		background-color: $yellow;
		position: absolute;
		top: 0;
		right: 0;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover{
				background-color: #e0b800;
			}
		}
		&:before, &:after {
			content: "";
			position: absolute;
			width: 15px;
			height: 2px;
			background-color: #000;
			top: 50%;
			left: 50%;
		}
		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}
