@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
$fontFamily:"Rubik";
$fontSize: 14px;

$minWidth:320px;
$maxWidthContainer:1920;
$maxWidth:1920;

$yellow: #FDD000;
$gray: #272829;
$light-grey: #DFDFDF;

@import "nullstyle.scss";
@import "mixins.scss";

@import "App.scss";
@import "Header.scss";
@import "Home.scss";
@import "Calendar.scss";
@import "CalendarDay.scss";
@import "Popup.scss";
@import "AboutMe.scss";



*::-webkit-scrollbar {
	width: 5px;
	background-color: #f9f9fd;
}
*::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-color: $yellow;
}
*::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(0,0,0,0.1);
}