@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
$fontFamily:"Rubik";
$fontSize: 14px;

$minWidth:320px;
$maxWidthContainer:1920;
$maxWidth:1920;

$yellow: #FDD000;
$gray: #272829;
$light-grey: #DFDFDF;

*::-webkit-scrollbar {
	width: 5px;
	background-color: #f9f9fd;
}
*::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-color: $yellow;
}
*::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(0,0,0,0.1);
}

@import "nullstyle.scss";
@import "mixins.scss";

@import "App.scss";

@import "../components/Pages/Header/Header.scss";
@import "../components/UI/Logo/Logo.scss";
@import "../components/UI/Navigation/Navigation.scss";
@import "../components/UI/NavBurger/NavBurger.scss";

@import "../components/Pages/Home/Home.scss";
@import "../components/Pages/AboutMe/AboutMe.scss";
@import "../components/UI/Calendar/Calendar.scss";
@import "../components/UI/Calendar/CalendarDay/CalendarDay.scss";
@import "../components/UI/Modal/Modal.scss";
@import "../components/UI/MeetingForm/MeetingForm.scss";
@import "../components/UI/InputTime/InputTime.scss";


